<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteveCadwallader.CodeMaid.Properties.Settings>
            <setting name="Formatting_CommentRunDuringCleanup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_RemoveRegions" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Reorganizing_RegionsRemoveExistingRegions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Reorganizing_MemberTypeConstructors" serializeAs="String">
                <value>Constructors||2||Constructors</value>
            </setting>
            <setting name="Reorganizing_MemberTypeFields" serializeAs="String">
                <value>Fields||1||Fields</value>
            </setting>
            <setting name="Reorganizing_PrimaryOrderByAccessLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_RunAtStartOfCleanup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterPropertiesSingleLine"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforePropertiesSingleLine"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_SkipRemoveUnusedUsingStatementsDuringAutoCleanupOnSave"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_RunVisualStudioRemoveUnusedUsingStatements"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_Multithread" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_AutoCleanupOnFileSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_PerformPartialCleanupOnExternal" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Cleaning_ExclusionExpression" serializeAs="String">
                <value>\.Designer\.cs$||\.Designer\.vb$||\.resx$||Reference\.cs$</value>
            </setting>
            <setting name="Formatting_CommentWrapColumn" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ThirdParty_UseXAMLStylerCleanup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThirdParty_UseJetBrainsReSharperCleanup" serializeAs="String">
                <value>False</value>
            </setting>
        </SteveCadwallader.CodeMaid.Properties.Settings>
    </userSettings>
</configuration>